{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "debug": true,
                "targets": {
                    "chrome": "58",
                    "ie": "11"
                }
            }
        ]
    ]
}