name: Build and Test

on: [push]

env:
  NODE_VERSION: 18

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ env.NODE_VERSION }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.NODE_VERSION }}
#    - name: Install NPM v7
#      run: npm install -g npm@7
    - name: Install dependencies
      run: npm ci
    - name: Run Format Checker
      run: npm run check:format
      working-directory: ./
      timeout-minutes: 10
    - name: Lint
      run: npm run lint
    - name: Build
      run: npm run build
    - name: Build and Test
      run: npm run testcoverage